/lab2/ass2
/lab2/coins
/lab3/ac_automaton/cmake-build-debug/content.txt
/lab3/ac_automaton/cmake-build-debug/keyword.txt
/lab3/big_interger
/lab3/date
/lab3/four
/lab3/three
/lab3/tmp
/lab4/keyword_spoter/cmake-build-debug/rank.txt
/lab4/keyword_spoter/cmake-build-debug/content.txt
/lab4/keyword_spoter/cmake-build-debug/result.txt
/lab4/keyword_spoter/cmake-build-debug/keyword.txt
/writeup/acdata.zip